.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color-3;
  height: auto;
  width: 250px;
  margin: 10px;
  border-radius: 10px;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-1;
    height: 50px;
    font-size: 1rem;
    height: 70px;
  }

  .image {
    position: relative;

    img {
      width: 240px;
      border-radius: 10px;
    }

    p {
      visibility: hidden;
      position: absolute;
      top: 15%;
      text-align: justify;
      padding: 10px;
    }
  }
  &:hover p {
    visibility: visible;
    color: $white;
  }

  &:hover img {
    filter: grayscale(50%) blur(3px) brightness(0.25);
    transition: 0.1s;
  }
}
