.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  input[type="text"] {
    width: 30%;
    height: 50px;
    padding-left: 10px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: 2px solid $color-3;
  }
}

.result {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
